body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: white;
}

#urna{
    width: 45%;
    height: 90%;
    background-color: aquamarine;
}

#hardware{
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    overflow: hidden
}

.aba{
    height: 100%;
    width: 10%;
    background-color: #dbd5c9;
}

#centro{
    width: 80%;
    height: 99%;
    background-color: brown;
}

#monitor{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    background-color: black; 
}

#tela{
    width: 90%;
    height: 90%;
    background: linear-gradient(to right, #E8E8E8, #C1C1C1); 
}

#gabinete{
    display: flex;
    width: 100%;
    height: 50%;
    background-color:azure; 
}

#lugarDaLogo{
    width: 40%;
    height: 100%;
    background-color:azure; 
}

#teclado{
    display: flex;
    width: 60%;
    height: 100%;
    background-color:azure; 
}

#numerico{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 100%;
    background-color:azure; 
}

#tecladoTexto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    background-color:chocolate; 
}

.btn{
    width: 90%;
    border-radius: 10px;
    text-transform: uppercase;
    cursor: pointer
}

#btnBranco{
    background-color: #FFF;
}

#btnCorrige{
    background-color: #e45b1d;
}

#btnConfirma{
    background-color: #48c079;
}

#realTeclado{
    width: 100%;
    height: 66%; 
}

.linha{
    display: flex;
    justify-content: space-around;
    width: 90%;
    height: 22%;
    margin: 10px;
    background-color: cadetblue;
}

.teclaNumerica{
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: black;
    width: 30%;
    height: 100%;
    cursor: pointer;
    color: white;
    background-color: rgb(34, 38, 46);
}