*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100vw;
    height: 100vh;
    background-color: white;
}

#urna{
    width: 50%;
    height: 95%;
}

#hardware{
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    overflow: hidden
}

.aba{
    height: 100%;
    width: 10%;
    background-color: #dbd5c9;
}

#centro{
    width: 80%;
    height: 100%;
    background-color: #dbd5c9;
}

#monitor{
    display: flex;
    align-items: flex-end;
    width: 98%;
    height: 50%;
}

#telaEscura{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98%;
    height: 98%;
    background-color: black; 
}

#telaClara{
    width: 80%;
    height: 85%;
    background: linear-gradient(to right, #E8E8E8, #C1C1C1);
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

#mostrador{
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
}

#mostraCima{
    height: 80%;
    width: 100%;
    display: flex;
}

#mcTexto{
    height: 100%;
    width: 70%;
}

#campoNumero{
    display: flex;
}

#seqNumero{
    display: flex;
}

.numero{
    border: 1px solid black;
    height: 20px;
    width: 10px;
    margin: 0 1px 0 1px;
}

#mcImagem{
    height: 100%;
    width: 30%;
    background-color: aquamarine;
}

.mc{
   margin-left: 3px;
   font-size: 13px;
}

#mostraBaixo{
    border-top: 2px solid black;
    height: 20%;
    width: 100%;
}

#mostraBaixo > p{
    font-size: 13px;
}

#mb1{
    margin-left: 5px;
}

#mb2{
    margin-left: 20px;
}

#mb3{
    margin-left: 30px;
}

#gabinete{
    display: flex;
    width: 100%;
    height: 50%;
    background-color: #dbd5c9;
}

#lugarDaLogo{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 40%;
    height: 100%;
    background-color: #dbd5c9; 
}

#teclado{
    display: flex;
    width: 60%;
    height: 100%;
    background-color: #dbd5c9; 
}

#numerico{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 100%;
    background-color: #dbd5c9; 
}

#tecladoTexto{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 40%;
    height: 100%;
    background-color: #dbd5c9; 
}

.btn{
    padding: 0;
    display: flex;
    justify-content: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    font-weight:bold;
    width: 78%;
    border-radius: 10px;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 9px;
    border: 1px solid black;
    box-shadow: 1px 4px 2px black;
}

.btn:active{
    position: relative;
    top: 3px;
    box-shadow: none;
}

#btnBranco{
    background-color: #FFF;
    height: 15%;
}

#btnCorrige{
    background-color: #e45b1d;
    height: 15%;
}

#btnConfirma{
    background-color: #48c079;
    height: 33%;
    margin-bottom: 27%;
}

#realTeclado{
    width: 100%;
    height: 66%; 
}

.linha{
    display: flex;
    justify-content: space-around;
    width: 90%;
    height: 22%;
    margin: 10px;
    background-color: #dbd5c9;
}

.teclaNumerica{
    display: flex;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 1px 4px 2px black;
    width: 30%;
    height: 100%;
    cursor: pointer;
    color: white;
    background-color: rgb(34, 38, 46);
}

.teclaNumerica:active{
    position: relative;
    top: 3px;
    box-shadow: none;
}

.logo{
    color: darkgray;
    border: 2px solid darkgray;
    border-radius: 5px;
    width: 80%;
}

#je{
    margin-bottom: 10px;
    height: 30%;
    display: flex;
}

#ue{
    text-align: center;
    font-size: 30px;
    margin-bottom: 15%;
}

#blocoImgLogo{
    width: 50%;
    height: 100%;
}

#msgLogo{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    width: 50%;
    height: 30%;   
}

#msgLogo > p {
    padding: 0;
    height:1%;
}

#imgLogo{
    width: 90%;
    height: 90%;
}